/*
	首页样式
*/
header span{
	position: absolute;
	top: 15px;
	right: 10%;
	color: #fb512d;
	font-size: 1.5em;
}
#adImg{
	width: 100%;
}
.desc_wrap{
	margin: 20px 0 60px;
	padding: 0 6.25%;
}
.description{
	text-indent: 2em;
	font-size: 1.4em;
}
.con_main a{
	display: block;
	margin: 0 auto;
}
#experienceBtn1,#experienceBtn2,#experienceBtn3{
	margin-top: 20px;
}
#scrollInner{
    padding-bottom: 110px;
}

#guide_next2{
	
}


/*引导页按钮定位*/
@media only screen and (min-device-height:240px) and (max-device-height:500px){
    .guide_btn1{
        /*border: 4px solid red;*/
        position: absolute;
        height: 20%;
        width: 86%;
        /* bottom: 148px; */
        left: 50%;
        margin-left:-43%;
        bottom: 0%;
    }
    .guide_btn2{
       /* border: 4px solid red;*/
        position: absolute;
        height: 20%;
        width: 86%;
        /* bottom: 148px; */
        left: 50%;
        margin-left:-43%;
        bottom: 11%;
    }
}
@media only screen and (min-device-height:500px){
    .guide_btn1{
        /*border: 1px solid red;*/
        position: absolute;
        height: 20%;
        width: 86%;
        /* bottom: 148px; */
        left: 50%;
        margin-left:-43%;
        bottom: 10%;
    }
    .guide_btn2{
       /* border: 1px solid red;*/
        position: absolute;
        height: 20%;
        width: 86%;
        /* bottom: 148px; */
        left: 50%;
        margin-left:-43%;
        bottom: 20%;
    }
}

