/*
	添加支付宝1样式
*/
.add_pay{
	padding-top: 20px;
	border-top: 1px solid #d7d6d5;
	text-align: center;
}
.t_left{
    text-align: left;
    color:#fb512d;
    padding-left:20px;
}
.m_bottom{
	margin-bottom: 15px;
}
#delete_alipay{
	position: absolute;
	background: none;
	left: 80%;
	top: 0px;
	padding-top: 18px;
	text-align: center;
	color: #fb512d;
	font-size: 1.5em;
	display: none;
}