/*
	首页样式
*/
header span{
	position: absolute;
	top: 15px;
	right: 10%;
	color: #fb512d;
	font-size: 1.5em;
}
#iScrollInner{
    padding-bottom: 120px;
}
.info_wrap{
	border-top: 1px solid #d7d2cc;
	border-bottom: 1px solid #d7d2cc;
	background: rgba(255,255,255,0.5);
}
#fansPic{
	display: block;
	width: 100px;
    height: 100px;
	margin: 20px auto 10px;
	border-radius: 50%;
}
#name{
	display: block;
	margin-bottom: 5px;
	text-align: center;
	font-size: 1.7em;
}
#fansNum{
	display: block;
	margin-bottom: 20px;
	background: url(images/p_num.png) no-repeat 40% center;
	background-size: 15px;
	text-align: center;
	font-size: 1.2em;
	text-indent: 2em;
}
.num_info{
	height: 32px;
	padding-top: 8px;
	border-bottom: 1px solid #d6d4cd;
	text-align: center;
	background: rgba(255,255,255,0.5);
}
.num_info > span{
	display: block;
	float: left;
	width: 50%;
	line-height: 25px;
	font-size: 1.2em;
}
.left_wrap span{
	display: block;
	border-right: 1px solid #d6d4cd;
}
.num_info em{
	color: #fb512d;
	font-size: 1.5em;
}
.nav_wrap{
	overflow: hidden;
	padding-top: 30px;
}	
.nav_wrap nav{
	float: left;
	width: 50%;
	text-align: center;
}
.nav_wrap nav:nth-child(3),.nav_wrap nav:nth-child(4){
	padding-top: 20px;
}
.nav_wrap nav img{
	display: block;
	width: 35%;
	margin: 0 auto;
}
.nav_wrap nav span{
	display: block;
	margin-top: 15px;
	text-align: center;
	color: #454545;
	font-size: 1.2em;
}